.card{
    background: linear-gradient(135deg, #d5d0d0ce, var(--bg-color));
    width: 13rem;
    height: 18rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    box-shadow: -2px 2px 4px 1px rgba(0, 0, 0, 0.598);
}

.card > img{
    border-radius: 50%;
    width: 13rem;
    margin-top: -4rem;
    background-color: rgba(132, 131, 131, 0.035);
    /* box-shadow: -2px 2px 4px 1px rgba(0, 0, 0, 0.598); */
}

.card > p{
    font-size: larger;
    font-weight: bold;
}